<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Some Website</title>
</head>

<body>
  {{> header}}
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo porro nobis facilis id qui. Ipsam reiciendis doloremque
    suscipit, natus iusto sed tempore voluptas omnis nesciunt fugiat accusantium aut doloribus possimus.</p>
  {{> footer}}
</body>

</html>